@charset "UTF-8";
/**
* Fonts
*/
@font-face {
  font-family: star;
  src: url(../fonts/star.eot);
  src: url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: WooCommerce;
  src: url(../fonts/WooCommerce.eot);
  src: url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
  font-weight: 400;
  font-style: normal;
}
/**
 * Deprecated
 * Fallback for bourbon equivalent
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Vendor prefix no longer required.
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */
/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */
/**
 * Objects
 */
/**
 * _animation.scss
 * Custom WooCommerce Animations.
 */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/**
 * WooCommerce CSS Variables
 */
:root {
  --woocommerce: rgb(127, 24, 127);
  --wc-green: #7ad03a;
  --wc-red: #a00;
  --wc-orange: #ffba00;
  --wc-blue: #2ea2cc;
  --wc-primary: rgb(127, 24, 127);
  --wc-primary-text: #e5b1e5;
  --wc-secondary: rgb(127, 24, 127);
  --wc-secondary-text: #fff;
  --wc-highlight: rgb(127, 24, 127);
  --wc-highligh-text: #e5b1e5;
  --wc-content-bg: #fff;
  --wc-subtext: #767676;
}

/**
 * Main layout.
 */
.woocommerce-page h1.wp-block-post-title {
  font-size: var(--wp--preset--font-size--huge);
}
.woocommerce-page h2 {
  font-size: var(--wp--preset--font-size--large);
}
.woocommerce-page main .woocommerce {
  *zoom: 1;
  max-width: 1000px;
}
.woocommerce-page main .woocommerce::before, .woocommerce-page main .woocommerce::after {
  content: " ";
  display: table;
}
.woocommerce-page main .woocommerce::after {
  clear: both;
}

.woocommerce .woocommerce-products-header h1.page-title {
  font-family: var(--wp--preset--font-family--source-serif-pro);
  font-size: var(--wp--custom--typography--font-size--gigantic);
  font-weight: 300;
  line-height: var(--wp--custom--typography--line-height--tiny);
  margin-bottom: var(--wp--custom--spacing--medium);
}
.woocommerce span.onsale {
  top: -1rem;
  right: -1rem;
  position: absolute;
  background: var(--wp--preset--color--secondary);
  color: inherit;
  border-radius: 2rem;
  line-height: 2.6rem;
  font-size: 0.8rem;
  padding: 0 0.5rem 0 0.5rem;
}
.woocommerce .quantity input[type=number] {
  width: 3em;
}
.woocommerce .quantity input[type=number]::-webkit-inner-spin-button,
.woocommerce .quantity input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.woocommerce.woocommerce-shop .woocommerce-breadcrumb {
  display: none;
}
.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 1rem;
}
.woocommerce .woocommerce-NoticeGroup-checkout ul.woocommerce-error[role=alert]::before {
  display: none;
}
.woocommerce .woocommerce-NoticeGroup-checkout ul.woocommerce-error[role=alert] li {
  display: inherit;
  margin-bottom: 1rem;
}
.woocommerce a.button,
.woocommerce button[name=add-to-cart],
.woocommerce input[name=submit],
.woocommerce button.single_add_to_cart_button,
.woocommerce button[type=submit]:not(.wp-block-search__button) {
  display: inline-block;
  text-align: center;
  word-break: break-word;
  background-color: var(--wp--preset--color--primary);
  color: #fff;
  border: 1px solid var(--wp--preset--color--black);
  padding: 1rem 2rem;
  margin-top: 1rem;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
}
.woocommerce a.button:hover, .woocommerce a.button:visited,
.woocommerce button[name=add-to-cart]:hover,
.woocommerce button[name=add-to-cart]:visited,
.woocommerce input[name=submit]:hover,
.woocommerce input[name=submit]:visited,
.woocommerce button.single_add_to_cart_button:hover,
.woocommerce button.single_add_to_cart_button:visited,
.woocommerce button[type=submit]:not(.wp-block-search__button):hover,
.woocommerce button[type=submit]:not(.wp-block-search__button):visited {
  color: var(--wp--preset--color--white);
  text-decoration: underline;
}
.woocommerce #respond input#submit,
.woocommerce input.button {
  background-color: var(--wp--preset--color--foreground, rgb(127, 24, 127));
  color: var(--wp--preset--color--background, #e5b1e5);
}
.woocommerce #respond input#submit:hover,
.woocommerce input.button:hover {
  background-color: var(--wp--preset--color--foreground, rgb(127, 24, 127));
  color: var(--wp--preset--color--background, #e5b1e5);
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit:disabled[disabled]:hover,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover {
  background-color: var(--wp--preset--color--foreground, rgb(127, 24, 127));
  color: var(--wp--preset--color--background, #e5b1e5);
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
  opacity: 1;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
  opacity: 0.5;
  cursor: not-allowed;
}
.woocommerce button.woocommerce-form-login__submit,
.woocommerce button.single_add_to_cart_button,
.woocommerce a.checkout-button {
  font-size: 18px;
  padding: 1.5rem 3.5rem;
}
.woocommerce button.button,
.woocommerce a.button {
  background-color: var(--wp--preset--color--foreground, rgb(127, 24, 127));
  color: var(--wp--preset--color--background, #e5b1e5);
}
.woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover,
.woocommerce a.button:disabled[disabled]:hover {
  background-color: var(--wp--preset--color--foreground, rgb(127, 24, 127));
  color: var(--wp--preset--color--background, #e5b1e5);
}
.woocommerce .woocommerce-result-count {
  margin-top: 0;
  font-size: 0.9rem;
}
.woocommerce .woocommerce-ordering {
  margin-top: -0.2rem;
  margin-bottom: 3rem;
}
.woocommerce .woocommerce-ordering select {
  padding: 0.2rem 0 0.2rem 0.5rem;
}
.woocommerce ul.products {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.woocommerce ul.products li.product {
  list-style: none;
  margin-top: var(--wp--style--block-gap);
  text-align: center;
}
.woocommerce ul.products li.product a.woocommerce-loop-product__link {
  text-decoration: none;
  display: block;
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--system-font);
  text-decoration: none;
  margin-bottom: 0;
}
.woocommerce ul.products li.product a.add_to_cart_button {
  padding: 0.8rem 2.7rem;
}
.woocommerce ul.products li.product a.add_to_cart_button.loading {
  opacity: 0.5;
}
.woocommerce ul.page-numbers {
  text-align: center;
}
.woocommerce div.product {
  position: relative;
}
.woocommerce div.product > span.onsale {
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 1.8rem;
  z-index: 1;
}
.woocommerce div.product div.woocommerce-product-gallery {
  position: relative;
}
.woocommerce div.product div.woocommerce-product-gallery a.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  text-decoration: none;
  border-radius: 1rem;
  border-style: solid;
  line-height: 1.5rem;
  padding: 0;
  font-size: 0.6rem;
  background: var(--wp--preset--color--white);
  border-color: var(--wp--preset--color--white);
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
}
.woocommerce div.product div.woocommerce-product-gallery a.woocommerce-product-gallery__trigger::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" focusable="false" viewBox="0 0 24 24" width="24" height="24"><path d="M13.5 6C10.5 6 8 8.5 8 11.5c0 1.1.3 2.1.9 3l-3.4 3 1 1.1 3.4-2.9c1 .9 2.2 1.4 3.6 1.4 3 0 5.5-2.5 5.5-5.5C19 8.5 16.5 6 13.5 6zm0 9.5c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z" /></svg>');
  display: block;
  transform: rotateY(180deg);
  margin-left: 1.55rem;
}
.woocommerce div.product div.woocommerce-product-gallery figure.woocommerce-product-gallery__wrapper {
  margin: 0;
}
.woocommerce div.product div.summary {
  font-size: 1rem;
}
.woocommerce div.product div.summary h1.product_title {
  font-size: 2.5rem;
  margin: 0;
}
.woocommerce div.product div.summary figure.woocommerce-product-gallery__wrapper {
  margin: 0;
}
.woocommerce div.product div.summary .woocommerce-product-rating .star-rating {
  display: inline-block;
}
.woocommerce div.product div.summary .woocommerce-product-rating .woocommerce-review-link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: -0.5em;
  font-size: 1em;
}
.woocommerce div.product form.cart button[name=add-to-cart],
.woocommerce div.product form.cart button.single_add_to_cart_button {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: var(--wp--style--block-gap);
}
.woocommerce div.product ol.flex-control-thumbs {
  padding-left: 0;
  float: left;
}
.woocommerce div.product ol.flex-control-thumbs li {
  list-style: none;
  cursor: pointer;
  float: left;
  width: 18%;
  margin-right: 1rem;
}
.woocommerce div.product a.reset_variations {
  margin-left: 0.5em;
}
.woocommerce div.product table.group_table {
  margin-bottom: var(--wp--style--block-gap);
}
.woocommerce div.product table.group_table td {
  padding-right: 0.5rem;
  padding-bottom: 1rem;
}
.woocommerce div.product .related.products {
  margin-top: 7rem;
}
.woocommerce .woocommerce-Reviews ol.commentlist {
  list-style: none;
  padding-left: 0;
}
.woocommerce .woocommerce-Reviews ol.commentlist img.avatar {
  float: left;
}
.woocommerce .woocommerce-Reviews ol.commentlist p.meta {
  font-size: 1rem;
}
.woocommerce .woocommerce-Reviews ol.commentlist .comment-text {
  display: inline-block;
  padding-left: var(--wp--style--block-gap);
}
.woocommerce .woocommerce-Reviews ol.commentlist .comment-text .star-rating {
  margin-top: 0;
  margin-right: unset;
  margin-left: unset;
}
.woocommerce .woocommerce-Reviews .comment-form-rating label {
  display: inline-block;
  padding-right: var(--wp--style--block-gap);
  padding-top: var(--wp--style--block-gap);
}
.woocommerce .woocommerce-Reviews .comment-form-rating p.stars {
  display: inline;
}
.woocommerce .woocommerce-Reviews .comment-form-rating p.stars a::before {
  color: var(--wp--preset--color--secondary);
}
.woocommerce .woocommerce-Reviews .comment-form-comment label {
  float: left;
  padding-right: var(--wp--style--block-gap);
}
.woocommerce .woocommerce-Reviews #review_form_wrapper {
  margin-top: 5rem;
}
.woocommerce .star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  width: 5.4rem;
  font-family: star;
  color: var(--wp--preset--color--secondary);
  margin: 1rem auto 0.7rem auto;
}
.woocommerce .star-rating::before {
  content: "sssss";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 1rem;
}
.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.woocommerce .star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  font-size: 1rem;
}
.woocommerce p.stars {
  margin-top: 0;
}
.woocommerce p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
}
.woocommerce p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: WooCommerce;
  content: "\e021";
  text-indent: 0;
}
.woocommerce p.stars a:hover ~ a::before {
  content: "\e021";
}
.woocommerce p.stars:hover a::before {
  content: "\e020";
}
.woocommerce p.stars.selected a.active::before {
  content: "\e020";
}
.woocommerce p.stars.selected a.active ~ a::before {
  content: "\e021";
}
.woocommerce p.stars.selected a:not(.active)::before {
  content: "\e020";
}
.woocommerce .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 99;
}
.woocommerce .return-to-shop a.button {
  background-color: #fff;
  color: var(--wp--preset--color--primary);
  border: 2px solid var(--wp--preset--color--primary);
  padding: 0.7rem 2rem;
}
.woocommerce mark {
  background: var(--wp--preset--color--secondary);
  color: initial;
}

.woocommerce-tabs {
  padding-top: var(--wp--style--block-gap);
}

ul.wc-tabs {
  padding: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #eae9eb;
}
ul.wc-tabs li {
  background: #eae9eb;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  border-color: #eae9eb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-left-color: var(--wp--preset--color--background);
  font-weight: 600;
  font-size: var(--wp--preset--font-size--medium);
}
ul.wc-tabs li:first-child {
  border-left-color: #eae9eb;
  margin-left: 1em;
}
ul.wc-tabs li.active {
  background: var(--wp--preset--color--background, #fff);
  border-bottom-color: var(--wp--preset--color--background, #fff);
  box-shadow: 0 1px var(--wp--preset--color--background);
}
ul.wc-tabs li a {
  text-decoration: none;
}

.woocommerce-Tabs-panel {
  padding-top: var(--wp--style--block-gap);
  font-size: var(--wp--preset--font-size--small);
  margin-left: 1em;
}
.woocommerce-Tabs-panel h2 {
  display: none;
}

/**
 * Form fields
 */
.woocommerce-page {
  /*
   * Cart / Checkout
   */
}
.woocommerce-page form .input-text {
  border: 1px solid var(--wp--preset--color--black);
  border-radius: 0;
}
.woocommerce-page form abbr.required {
  text-decoration: none;
}
.woocommerce-page form ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.woocommerce-page input[type=radio][name=payment_method],
.woocommerce-page input[type=radio].shipping_method {
  display: none;
}
.woocommerce-page input[type=radio][name=payment_method] + label::before,
.woocommerce-page input[type=radio].shipping_method + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--wp--preset--color--black);
  background: var(--wp--preset--color--white);
  margin-left: 4px;
  margin-right: 1.2rem;
  border-radius: 100%;
  transform: translateY(0.2rem);
}
.woocommerce-page input[type=radio][name=payment_method] ~ .payment_box,
.woocommerce-page input[type=radio].shipping_method ~ .payment_box {
  padding-left: 3rem;
  margin-top: 1rem;
}
.woocommerce-page input[type=radio][name=payment_method]:checked + label::before,
.woocommerce-page input[type=radio].shipping_method:checked + label::before {
  background: radial-gradient(circle at center, black 45%, white 0);
}
.woocommerce-page label.woocommerce-form__label-for-checkbox {
  font-weight: normal;
  cursor: pointer;
}
.woocommerce-page label.woocommerce-form__label-for-checkbox span::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--wp--preset--color--black);
  background: var(--wp--preset--color--white);
  margin-right: 0.5rem;
  transform: translateY(0.2rem);
}
.woocommerce-page label.woocommerce-form__label-for-checkbox input[type=checkbox] {
  display: none;
}
.woocommerce-page label.woocommerce-form__label-for-checkbox input[type=checkbox]:checked + span::before {
  background: var(--wp--preset--color--black);
  box-shadow: inset 0.2rem 0.2rem var(--wp--preset--color--white), inset -0.2rem -0.2rem var(--wp--preset--color--white);
}
.woocommerce-page table.shop_table_responsive {
  text-align: left;
}
.woocommerce-page table.shop_table_responsive th,
.woocommerce-page table.shop_table_responsive td {
  font-size: var(--wp--preset--font-size--small);
  font-weight: normal;
}
.woocommerce-page table.shop_table_responsive th {
  padding-bottom: 1rem;
}
.woocommerce-page table.shop_table_responsive tbody tr {
  border-top: 1px solid var(--wp--preset--color--black);
}
.woocommerce-page table.shop_table_responsive tbody td a.button,
.woocommerce-page table.shop_table_responsive tbody td button {
  margin-bottom: 1rem;
  border: none;
  background: #ebe9eb;
  color: var(--wp--preset--color--black);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.woocommerce-page table.shop_table_responsive tbody td a.button:hover, .woocommerce-page table.shop_table_responsive tbody td a.button:visited,
.woocommerce-page table.shop_table_responsive tbody td button:hover,
.woocommerce-page table.shop_table_responsive tbody td button:visited {
  color: var(--wp--preset--color--black);
}
.woocommerce-page table.shop_table_responsive tbody td.woocommerce-orders-table__cell-order-actions a.button {
  display: block;
}
.woocommerce-page table.shop_table tbody .product-name a:not(:hover),
.woocommerce-page table.shop_table_responsive tbody .product-name a:not(:hover) {
  text-decoration: none;
}
.woocommerce-page table.shop_table tbody .product-name a:hover,
.woocommerce-page table.shop_table_responsive tbody .product-name a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.woocommerce-page table.shop_table tbody .product-name .variation dt,
.woocommerce-page table.shop_table_responsive tbody .product-name .variation dt {
  font-style: italic;
  margin-right: 0.25rem;
  float: left;
}
.woocommerce-page table.shop_table tbody .product-name .variation dd,
.woocommerce-page table.shop_table_responsive tbody .product-name .variation dd {
  font-style: normal;
}
.woocommerce-page table.shop_table tbody .product-name .variation dd a,
.woocommerce-page table.shop_table_responsive tbody .product-name .variation dd a {
  font-style: normal;
}
.woocommerce-page .woocommerce-cart-form #coupon_code,
.woocommerce-page .woocommerce-cart-form .actions .button {
  margin-right: 0;
}
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive td,
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive th {
  padding: 1rem 0 0.5rem 1rem;
}
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive tbody tr:last-of-type {
  border-top: none;
}
@media only screen and (max-width: 768px) {
  .woocommerce-page .woocommerce-cart-form table.shop_table_responsive tbody td {
    padding-left: 0;
  }
  .woocommerce-page .woocommerce-cart-form table.shop_table_responsive tbody .product-remove {
    text-align: left !important;
  }
  .woocommerce-page .woocommerce-cart-form table.shop_table_responsive tbody #coupon_code {
    float: left;
    margin-bottom: 1rem;
  }
}
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive button[name=apply_coupon],
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive button[name=update_cart] {
  padding: 1rem 2rem;
  border: 2px solid #ebe9eb;
  margin: 0;
}
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive .product-remove {
  font-size: var(--wp--preset--font-size--large);
}
.woocommerce-page .woocommerce-cart-form table.shop_table_responsive .product-remove a {
  text-decoration: none;
}
.woocommerce-page .cart-collaterals {
  margin-top: 1.5rem;
}
.woocommerce-page .cart-collaterals h2 {
  text-transform: uppercase;
  font-family: inherit;
}
.woocommerce-page .cart-collaterals table.shop_table_responsive tr {
  border-top: none;
}
.woocommerce-page .cart-collaterals table.shop_table_responsive th {
  width: 11rem;
}
.woocommerce-page .cart-collaterals table.shop_table_responsive td,
.woocommerce-page .cart-collaterals table.shop_table_responsive th {
  padding: 1rem 0;
  vertical-align: text-top;
}
.woocommerce-page .cart-collaterals button[name=calc_shipping] {
  padding: 1rem 2rem;
}
.woocommerce-page .cart-collaterals .woocommerce-Price-amount {
  font-weight: normal;
}
.woocommerce-page .woocommerce-checkout, .woocommerce-page.woocommerce-order-pay {
  display: table;
}
.woocommerce-page .woocommerce-checkout h3, .woocommerce-page.woocommerce-order-pay h3 {
  font-family: inherit;
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 700;
}
.woocommerce-page .woocommerce-checkout .col2-set, .woocommerce-page.woocommerce-order-pay .col2-set {
  width: 43%;
  float: right;
}
.woocommerce-page .woocommerce-checkout .blockUI.blockOverlay, .woocommerce-page.woocommerce-order-pay .blockUI.blockOverlay {
  position: relative;
}
.woocommerce-page .woocommerce-checkout .blockUI.blockOverlay::before, .woocommerce-page.woocommerce-order-pay .blockUI.blockOverlay::before {
  height: 1em;
  width: 1em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
  content: "";
  animation: spin 1s ease-in-out infinite;
  background: url("../images/icons/loader.svg") center center;
  background-size: cover;
  line-height: 1;
  text-align: center;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.75);
}
.woocommerce-page .woocommerce-checkout #customer_details, .woocommerce-page.woocommerce-order-pay #customer_details {
  width: 53%;
  float: left;
}
.woocommerce-page .woocommerce-checkout #customer_details .col-1,
.woocommerce-page .woocommerce-checkout #customer_details .col-2, .woocommerce-page.woocommerce-order-pay #customer_details .col-1,
.woocommerce-page.woocommerce-order-pay #customer_details .col-2 {
  width: 100%;
  float: none;
}
@media only screen and (max-width: 768px) {
  .woocommerce-page .woocommerce-checkout .col2-set,
  .woocommerce-page .woocommerce-checkout #customer_details, .woocommerce-page.woocommerce-order-pay .col2-set,
  .woocommerce-page.woocommerce-order-pay #customer_details {
    width: 100%;
    float: none;
  }
}
.woocommerce-page .woocommerce-checkout .woocommerce-billing-fields__field-wrapper,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-payment,
.woocommerce-page .woocommerce-checkout #payment, .woocommerce-page.woocommerce-order-pay .woocommerce-billing-fields__field-wrapper,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-payment,
.woocommerce-page.woocommerce-order-pay #payment {
  margin-top: 4rem;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table,
.woocommerce-page .woocommerce-checkout #order_review .shop_table, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table {
  border-collapse: collapse;
  width: 100%;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table thead,
.woocommerce-page .woocommerce-checkout #order_review .shop_table thead, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table thead,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table thead {
  display: none;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table th,
.woocommerce-page .woocommerce-checkout #order_review .shop_table th, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table th,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table th {
  text-align: left;
  font-weight: normal;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table th,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table td,
.woocommerce-page .woocommerce-checkout #order_review .shop_table th,
.woocommerce-page .woocommerce-checkout #order_review .shop_table td, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table th,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table td,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table th,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table td {
  padding: 1rem 1rem 1rem 0;
  vertical-align: text-top;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table tbody,
.woocommerce-page .woocommerce-checkout #order_review .shop_table tbody, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table tbody,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table tbody {
  border-bottom: 1px solid #d2ced2;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table tr.order-total,
.woocommerce-page .woocommerce-checkout #order_review .shop_table tr.order-total, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table tr.order-total,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table tr.order-total {
  border-top: 1px solid #d2ced2;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table .product-quantity,
.woocommerce-page .woocommerce-checkout #order_review .shop_table .product-quantity, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table .product-quantity,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table .product-quantity {
  font-weight: normal;
}
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table .product-total .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table .cart-subtotal .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table .order-total .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table .tax-rate .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table input[type=radio].shipping_method:checked + label .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout .woocommerce-checkout-review-order-table input[type=hidden].shipping_method + label .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table .product-total .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table .cart-subtotal .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table .order-total .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table .tax-rate .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table input[type=radio].shipping_method:checked + label .woocommerce-Price-amount,
.woocommerce-page .woocommerce-checkout #order_review .shop_table input[type=hidden].shipping_method + label .woocommerce-Price-amount, .woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table .product-total .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table .cart-subtotal .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table .order-total .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table .tax-rate .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table input[type=radio].shipping_method:checked + label .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay .woocommerce-checkout-review-order-table input[type=hidden].shipping_method + label .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table .product-total .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table .cart-subtotal .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table .order-total .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table .tax-rate .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table input[type=radio].shipping_method:checked + label .woocommerce-Price-amount,
.woocommerce-page.woocommerce-order-pay #order_review .shop_table input[type=hidden].shipping_method + label .woocommerce-Price-amount {
  font-weight: bold;
}
.woocommerce-page .woocommerce-checkout button#place_order, .woocommerce-page.woocommerce-order-pay button#place_order {
  width: 100%;
  text-transform: uppercase;
}
.woocommerce-page form.checkout_coupon {
  background: #f7f7f7;
  padding-left: 1.5rem;
  float: left;
  width: calc(100% - 1.5rem);
}
.woocommerce-page form.checkout_coupon .form-row button[name=apply_coupon] {
  margin-top: 0;
}
.woocommerce-page ul.wc_payment_methods,
.woocommerce-page ul.woocommerce-shipping-methods {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.woocommerce-page ul.wc_payment_methods input[type=radio],
.woocommerce-page ul.woocommerce-shipping-methods input[type=radio] {
  margin-right: 0.6rem;
}
.woocommerce-page ul.wc_payment_methods li.wc_payment_method,
.woocommerce-page ul.woocommerce-shipping-methods li.wc_payment_method {
  margin-bottom: 1rem;
}
.woocommerce-page .woocommerce-thankyou-order-received {
  margin-top: 0;
}
.woocommerce-page .woocommerce-thankyou-order-received,
.woocommerce-page h2.woocommerce-column__title {
  font-family: var(--wp--preset--font-family--source-serif-pro);
}
.woocommerce-page .woocommerce-order > * {
  margin-bottom: var(--wp--style--block-gap);
}
.woocommerce-page ul.woocommerce-order-overview li {
  display: inline;
  text-transform: uppercase;
}
.woocommerce-page ul.woocommerce-order-overview li strong {
  text-transform: none;
  display: block;
}
.woocommerce-page .woocommerce-customer-details address {
  border: 1px solid var(--wp--preset--color--black);
  font-style: inherit;
}
.woocommerce-page .woocommerce-customer-details address p[class^=woocommerce-customer-details--] {
  margin-top: 1rem;
  margin-bottom: 0;
}
.woocommerce-page .woocommerce-customer-details address p[class^=woocommerce-customer-details--]:first-of-type {
  margin-top: 2rem;
}
.woocommerce-page .woocommerce-customer-details address .woocommerce-customer-details--phone::before {
  content: "📞";
  margin-right: 1rem;
}
.woocommerce-page .woocommerce-customer-details address .woocommerce-customer-details--email::before {
  content: "✉";
  margin-right: 1rem;
  font-size: 1.8rem;
}
.woocommerce-page .woocommerce-table--order-details {
  border: 1px solid var(--wp--preset--color--black);
}
.woocommerce-page .woocommerce-table--order-details th,
.woocommerce-page .woocommerce-table--order-details td {
  text-align: left;
  border-top: 1px solid var(--wp--preset--color--black);
  border-bottom: 1px solid var(--wp--preset--color--black);
  font-weight: normal;
}
.woocommerce-page .woocommerce-table--order-details thead th {
  text-transform: uppercase;
}

.select2-container .select2-selection,
.select2-container .select2-dropdown {
  border: 1px solid var(--wp--preset--color--black);
  border-radius: 0;
}
.select2-container .select2-dropdown {
  border-top: 0;
}
.select2-container .select2-dropdown .select2-search__field {
  border: 1px solid var(--wp--preset--color--black);
  border-radius: 0;
}

/**
 * Account section
 */
.woocommerce-account .woocommerce-MyAccount-navigation li a {
  box-shadow: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  color: var(--wp--preset--color--primary);
}
.woocommerce-account table.shop_table_responsive.my_account_orders th {
  padding-top: 0;
}
.woocommerce-account .woocommerce-form-login {
  max-width: 516px;
  margin: 0 auto;
}

.wp-block-search .wp-block-search__label {
  font-weight: normal;
}
.wp-block-search .wp-block-search__input {
  padding: 0.9rem 1.1rem;
  border: 1px solid var(--wp--preset--color--black);
}
.wp-block-search .wp-block-search__button {
  padding: 1rem 1.2rem;
}

.wc-block-product-search form .wc-block-product-search__fields {
  display: flex;
  flex: auto;
  flex-wrap: nowrap;
  max-width: 100%;
}
.wc-block-product-search form .wc-block-product-search__fields .wc-block-product-search__field {
  padding: 0.9rem 1.1rem;
  flex-grow: 1;
  border: 1px solid var(--wp--preset--color--black);
  font-size: inherit;
  font-family: inherit;
}
.wc-block-product-search form .wc-block-product-search__fields .wc-block-product-search__button {
  display: flex;
  background-color: var(--wp--preset--color--primary);
  color: #fff;
  border: 1px solid var(--wp--preset--color--black);
  padding: 1rem 1.2rem;
  margin: 0 0 0 0.7rem;
}

.theme-twentytwentytwo .woocommerce-store-notice {
  color: var(--wp--preset--color--black);
  border-top: 2px solid var(--wp--preset--color--primary);
  background: #f7f7f7;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  margin: 0;
}
.theme-twentytwentytwo .woocommerce-store-notice .woocommerce-store-notice__dismiss-link {
  float: right;
  margin-right: 4rem;
  color: inherit;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  background: #f7f7f7;
  border-top-color: var(--wp--preset--color--primary);
  border-top-style: solid;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  list-style: none;
  font-size: var(--wp--preset--font-size--small);
}
.woocommerce-message[role=alert]::before,
.woocommerce-error[role=alert]::before,
.woocommerce-info[role=alert]::before {
  color: var(--wp--preset--color--background);
  background: var(--wp--preset--color--primary);
  border-radius: 5rem;
  font-size: 1rem;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 1rem;
}
.woocommerce-message a.button,
.woocommerce-error a.button,
.woocommerce-info a.button {
  margin-top: -0.5rem;
  border: none;
  background: #ebe9eb;
  color: var(--wp--preset--color--black);
  padding: 0.5rem 1rem;
}
.woocommerce-message a.button:hover, .woocommerce-message a.button:visited,
.woocommerce-error a.button:hover,
.woocommerce-error a.button:visited,
.woocommerce-info a.button:hover,
.woocommerce-info a.button:visited {
  color: var(--wp--preset--color--black);
}

.woocommerce-error[role=alert] {
  margin: 0;
}
.woocommerce-error[role=alert]::before {
  content: "X";
  padding-right: 4px;
  padding-left: 4px;
}
.woocommerce-error[role=alert] li {
  display: inline-block;
}

.woocommerce-message[role=alert]::before {
  content: "✓";
}/*# sourceMappingURL=twenty-twenty-two.css.map */